<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection, StructureMap" />
  </configSections>
  
  <StructureMap>
    <Assembly Name="Poller"/>
    <PluginFamily Type="Poller.Services.ISourceRepository" Assembly="Poller" DefaultKey="Default">
      <Plugin Type="Poller.Services.Tfs" Assembly="Poller" ConcreteKey="Default"/>
    </PluginFamily>
    <PluginFamily Type="Poller.Services.IChat" Assembly="Poller" DefaultKey="Default">
      <Plugin Type="Poller.Services.HipChat" Assembly="Poller" ConcreteKey="Default"/>
    </PluginFamily>
    <PluginFamily Type="Poller.Services.ILogger" Assembly="Poller" DefaultKey="Default">
      <Plugin Type="Poller.Services.EventLogger" Assembly="Poller" ConcreteKey="Default"/>
    </PluginFamily>
    <PluginFamily Type="Poller.Services.IMessageGenerator" Assembly="Poller" DefaultKey="Default">
      <Plugin Type="Poller.Services.MessageGenerator" Assembly="Poller" ConcreteKey="Default"/>
    </PluginFamily>
  </StructureMap>
  
  <appSettings>
    <add key="PollingInterval" value="10"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
